<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esmifrase.duchita">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.esmifrase.duchita.ControladorDeInicio"
        android:allowBackup="true"
        android:icon="@drawable/duchitaapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.esmifrase.duchita.Perfil"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.esmifrase.duchita.Registrarse"
            android:label="@string/app_name"/>
        <activity android:name="com.esmifrase.duchita.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.esmifrase.duchita.Duchita"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="recibir.accion" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esmifrase.duchita.Intro"
            android:label="@string/app_name"/>
        <service android:enabled="true" android:name="com.esmifrase.duchita.Cronometro" />
    </application>
</manifest>
